{% extends 'lava_submission/base.html' %}
{% block content %}
{#    <form action="form_action.asp" method="post">#}
{#        <p>branch name: <input type="text" name="fname" /></p>#}
{#        <p>project name: <input type="text" name="lname" /></p>#}
{#        <p>manager mail: <input type="text" name="lname" /></p>#}
{#        <p>task type: <input type="text" name="lname" /></p>#}
{#        <p>device type: <input type="text" name="lname" /></p>#}
{#        <p>stop flag: <input type="radio" name="lname" /></p>#}
{#        <p>lava server: <input type="" name="lname" /></p>#}
{#        <input type="submit" value="Submit" />#}
{#    </form>#}
    {{ project_form }}
{% endblock %}