{% extends 'lava_submission/base.html' %}
<script type="text/javascript" language="JavaScript">
function add_info() {
}
function get_branch(info) {
    var input = document.getElementsByName('branch');
    input.value = "321";
    var info = info;
    $.ajax({
        type:"post",
        url:{% url 'lava_submission.views.get_branch' %},
        dataType:"json",
        success:function (data) {
            var input = document.getElementsByName('branch');
            input.value = "321";
        }
    })
}
</script>
{% block content %}
    <div>
    <form action="search_info/result/" method="post">
        {% csrf_token %}
        <label>search:</label>
        <input type="text" name="searched_info">
        <input type="submit" value="search">
    </form>
    </div>
    <table border="1" id="verify_project_info_list">
        <tr>
            <td>id</td>
            <td>branch</td>
            <td>project</td>
            <td>repository</td>
            <td>manager</td>
            <td>task type</td>
            <td>device type</td>
            <td>stop flag</td>
            <td>server info</td>
            <td>modify date</td>
        </tr>
    {% if query_len != 0 %}
        {% for project_info in project_infos %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ project_info.branch_project_info.branch_name }}</td>
                <td>{{ project_info.branch_project_info.project_name }}</td>
                <td>{{ project_info.repository_check_item__all }}</td>
                <td>{{ project_info.managers_mail }}</td>
                <td>{{ project_info.task_type }}</td>
                <td>{{ project_info.device_type }}</td>
                <td>{{ project_info.stop_flag }}</td>
                <td>{{ project_info.device_in_server }}</td>
                <td>{{ project_info.modify_date }}</td>
                <td>
                    <form action="modifyInfo/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="edit" value="{{ project_info.id }}">
                        <input type="submit" value="Edit">
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
            <tr id="new_row">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
{#                <td><input type="text" name="branch" onchange="get_branch"></td>#}
{#                <td><input type="text" name="project"></td>#}
{#                <td><input type="text" name="repository"></td>#}
{#                <td><input type="email" name="email"></td>#}
{#                <td><select id="task_type"></select></td>#}
{#                <td><select id="device_type"></select></td>#}
{#                <td><input type="text" name="stop_flag"></td>#}
{#                <td><select id="server_info"></select></td>#}
{#                <td><input type="datetime" name="modify_time"></td>#}
{#                <td><input type="button" value="add" onclick="add_info"> </td>#}
                <td>
                    <form action="addInfo/" method="post">
                        {% csrf_token %}
                        <input type="submit" value="add">
                    </form>
                </td>
            </tr>
    </table>
{% endblock %}