{% extends 'lava_submission/base.html' %}
{% block content %}
    <div>
    <form action="search_info/result/" method="post">
        {% csrf_token %}
        <label>search:</label>
        <input type="text" name="searched_info">
        <input type="submit" value="search">
    </form>
    </div>
    <table border="1">
        <tr>
            <td>id</td>
            <td>branch</td>
            <td>project</td>
            <td>repository</td>
            <td>manager</td>
            <td>task type</td>
            <td>device type</td>
            <td>stop flag</td>
            <td>server info</td>
            <td>modify date</td>
        </tr>
    {% if query_len != 0 %}
        {% for project_info in project_infos %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ project_info.branch_project_info.branch_name }}</td>
                <td>{{ project_info.branch_project_info.project_name }}</td>
                <td>{{ project_info.repository }}</td>
                <td>{{ project_info.managers_mail }}</td>
                <td>{{ project_info.task_type }}</td>
                <td>{{ project_info.device_type }}</td>
                <td>{{ project_info.stop_flag }}</td>
                <td>{{ project_info.device_in_server }}</td>
                <td>{{ project_info.modify_date }}</td>
                <td>
                    <form action="modifyInfo/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="edit" value="{{ project_info.id }}">
                        <input type="submit" value="Edit">
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <form action="addInfo/" method="post">
                        {% csrf_token %}
                        <input type="submit" value="add">
{#                        <select name="branch_type" required id="id_branch_type">#}
{#                            <option value>-------------</option>#}
{#                            {% if branch_types.count != 0 %}#}
{#                                {% for type in branch_types %}#}
{#                                <option value="{{ type.id }}">{{ type.name }}</option>#}
{#                                {% endfor %}#}
{#                            {% endif %}#}
{#                        </select>#}
                    </form>
                </td>
            </tr>
    </table>
{% endblock %}