{% extends 'lava_submission/base.html' %}
{% block content %}
{#    <form action="form_action.asp" method="post">#}
{#        <p>branch name: <input type="text" name="fname" /></p>#}
{#        <p>project name: <input type="text" name="lname" /></p>#}
{#        <p>manager mail: <input type="text" name="lname" /></p>#}
{#        <p>task type: <input type="text" name="lname" /></p>#}
{#        <p>device type: <input type="text" name="lname" /></p>#}
{#        <p>stop flag: <input type="radio" name="lname" /></p>#}
{#        <p>lava server: <input type="" name="lname" /></p>#}
{#        <input type="submit" value="Submit" />#}
{#    </form>#}
    <form action="{% url 'lava_submission:add_info' %}" method="post">
        {% csrf_token %}
{#        <input type="hidden" name="branch_type" value="{{ branch_type }}">#}
        <input type="submit" value="update">
    </form>
    <form action="{% url 'lava_submission:save_info' %}" method="post">
        {% csrf_token %}
        {{ project_form }}
        <input type="hidden" name='infoID' value="{{ infoID }}">
{#        <input type="hidden" name="branch_type" value="{{ branch_type }}">#}
        <input type="submit" name='add' value="save">
    </form>
{% endblock %}